[platinum-onboard]
url: https://api.ciscospark.com
token: {Insert Spark Token}
listen-ip: {Insert IP to Listen on}
listen-port: {Insert Port to Listen on}
provision-ip: {Insert Provision IP Module}
webdebug: False