{% extends "layout.html" %}
{% block content %}
  <div class="home">
      <h2>Main Menu</h2>

  </div>

    <div class="selector">
        <li><a href = "/add-domain">Add to the Domain Table</a></li>
        <li><a href = "/add-device">Add to the Device Table</a></li>
        <br>
        <li><a href = "/list-domain">Dump the Domain Table</a></li>
        <li><a href = "/list-device">Dump the Device Table</a></li>
        <li><a href = "/list-guest">Dump the Guest Table</a></li>
        <br>
        <li><a href = "/clear-guesttable">Clear the Guest Table</a></li>

        <li><a href = "/clear-tables">Purge All DataBase Tables - DANGER</a></li>
    </div>
{% endblock %}