{% extends "layout.html" %}
{% block content %}
  <div class="home">
      <h2>Guest Table</h2>

  </div>
    <div>
      <table border = 1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Device</th>
            <th>Guest Password</th>
            <th>Date</th>
            <th>Status</th>
        </tr>


         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["name"]}}</td>
                <td>{{row["device"]}}</td>
                <td>{{row["guestpassword"]}}</td>
               <td>{{row["date"]}}</td>
                <td>{{row["status"]}}</td>
            </tr
         {% endfor %}
      </table>


    </div>
{% endblock %}